<section class="container mt-4" style="max-width:1000px; margin: 0 auto;">
    <div class="text-start mb-4">
        <h2 class="h5 text-muted mb-0">@Title.ToUpper()</h2>
    </div>
</section>

@code {
    [Parameter] public string Title { get; set; } = "";
}