@inject IJSRuntime JS
@inject ILogger<ScrollTopButton> Logger

<button id="scrollTopBtn"
        type="button"
        class="to-top btn @ButtonClass rounded-circle shadow position-fixed @Position d-none"
        style="z-index:2000;"
        @onclick="ScrollToTop"
        aria-label="Tillbaka till toppen"
        title="Tillbaka till toppen">
    <i class="fa-solid fa-angle-up @TextClass" aria-hidden="true"></i>
</button>

@code {
    [Parameter]
    public bool IsDarkMode { get; set; } = false;

    [Parameter]
    public string Position { get; set; } = "bottom-0 end-0 m-3"; // Tillåter anpassad position

    private string ButtonClass => IsDarkMode ? "btn-dark" : "btn-light";
    private string TextClass => IsDarkMode ? "text-white" : "text-black";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JS.InvokeVoidAsync("initScrollTopButton");
            }
            catch (Exception ex)
            {
                Logger.LogWarning(ex, "Kunde inte initiera 'initScrollTopButton'. Knappen \"Tillbaka till toppen\" kanske inte fungerar som förväntat.");
            }
        }
    }

    private async Task ScrollToTop() => await JS.InvokeVoidAsync("window.scrollTo", 0, 0);
}