@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

@* 
   Footer-komponent som visar sidfot med kontaktinformation och navigation.
   Innehåller olika navigationsalternativ baserat på användarens autentisering och roller.
   Responsiv design med desktop- och mobilvyer.
*@

<footer class="footer-custom text-white py-4 bg-dark" role="contentinfo">
	<div class="container">
		<!-- Desktop-vy: visas vid md och uppåt -->
		<div class="row d-none d-md-flex align-items-center">
			<!-- Vänster kolumn: Postadress och e-post -->
			<div class="col-md-4 text-start text-white">
				<address class="mb-0">
					<h3 class="fs-6 h4" id="address-heading-desktop">POSTADRESS</h3>
					<div aria-labelledby="address-heading-desktop">
						<p>
							KronoX<br />
							Högskolan i Borås<br />
							501 90 Borås
						</p>
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i> E-post:
							<a href="mailto:info@kronox.se" class="text-white">info@kronox.se</a>
						</p>
					</div>
				</address>
			</div>
			<!-- Mittenkolumn: Logotyp -->
			<div class="col-md-4 text-center">
				<img src="images/logo.png" alt="KronoX logotyp" class="logo" width="200" height="47" loading="lazy" />
			</div>
			<!-- Höger kolumn: Sitemap -->
			<div class="col-md-4 text-end">
				<nav aria-label="Sidfotsmeny">
					<h3 class="text-white fs-6 h4" id="sitemap-desktop">SITEMAP</h3>
					<AuthorizeView>
						<NotAuthorized>
							<ul class="list-unstyled" aria-labelledby="sitemap-desktop">
								<li><NavLink href="/omkonsortiet" class="text-white">Om konsortiet</NavLink></li>
								<li><NavLink href="/omsystemet" class="text-white">Om systemet</NavLink></li>
								<li><NavLink href="/visioner" class="text-white">Visioner & Verksamhetsidé</NavLink></li>
								<li><NavLink href="/kontakt" class="text-white">Kontakta oss</NavLink></li>
							</ul>
						</NotAuthorized>
						<Authorized>
							<ul class="list-unstyled" aria-labelledby="sitemap-desktop">
								<li><NavLink href="/medlemsnytt" class="text-white">Medlemsnytt</NavLink></li>
								<li><NavLink href="/omkonsortiet" class="text-white">Om konsortiet</NavLink></li>
								<!-- Länkar för Admin eller Styrelse -->
								<AuthorizeView Roles="Admin,Styrelse" Context="rolesAuthState">
									<li><NavLink href="/for-styrelsen" class="text-white">För styrelsen</NavLink></li>
									<li><NavLink href="/for-vnsg" class="text-white">För VNSG</NavLink></li>
								</AuthorizeView>
								<li><NavLink href="/forvaltning" class="text-white">Förvaltning</NavLink></li>
								<li><NavLink href="/dokument" class="text-white">Dokument</NavLink></li>
								<li><NavLink href="/kontakt" class="text-white">Kontakta oss</NavLink></li>
							</ul>
						</Authorized>
					</AuthorizeView>
				</nav>
			</div>
		</div>
		<!-- Mobilvy: visas vid mindre än md -->
		<div class="d-md-none">
			<!-- Postadress -->
			<div class="row text-center">
				<div class="col-12 text-white">
					<address class="mb-0">
						<h3 class="fs-6 h4" id="address-heading-mobile">POSTADRESS</h3>
						<div aria-labelledby="address-heading-mobile">
							<p>
								KronoX<br />
								Högskolan i Borås<br />
								501 90 Borås
							</p>
							<p>
								<i class="fa fa-envelope" aria-hidden="true"></i> E-post:
								<a href="mailto:info@kronox.se" class="text-white">info@kronox.se</a>
							</p>
						</div>
					</address>
				</div>
			</div>
			<!-- Separator -->
			<hr class="my-3" aria-hidden="true" />
			<!-- Sitemap -->
			<div class="row text-center">
				<div class="col-12">
					<nav aria-label="Sidfotsmeny för mobil">
						<h3 class="fs-6 h4" id="sitemap-mobile">SITEMAP</h3>
						<AuthorizeView>
							<NotAuthorized>
								<ul class="list-unstyled" aria-labelledby="sitemap-mobile">
									<li><NavLink href="/omkonsortiet" class="text-white">Om konsortiet</NavLink></li>
									<li><NavLink href="/omsystemet" class="text-white">Om systemet</NavLink></li>
									<li><NavLink href="/visioner" class="text-white">Visioner & Verksamhetsidé</NavLink></li>
									<li><NavLink href="/kontakt" class="text-white">Kontakta oss</NavLink></li>
								</ul>
							</NotAuthorized>
							<Authorized>
								<ul class="list-unstyled" aria-labelledby="sitemap-mobile">
									<li><NavLink href="/medlemsnytt" class="text-white">Medlemsnytt</NavLink></li>
									<li><NavLink href="/omkonsortiet" class="text-white">Om konsortiet</NavLink></li>
									<AuthorizeView Roles="Admin,Styrelse" Context="innerAuthState">
										<li><NavLink href="/for-styrelsen" class="text-white">För styrelsen</NavLink></li>
										<li><NavLink href="/for-vnsg" class="text-white">För VNSG</NavLink></li>
									</AuthorizeView>
									<li><NavLink href="/forvaltning" class="text-white">Förvaltning</NavLink></li>
									<li><NavLink href="/dokument" class="text-white">Dokument</NavLink></li>
									<li><NavLink href="/kontakt" class="text-white">Kontakta oss</NavLink></li>
								</ul>
							</Authorized>
						</AuthorizeView>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>