@using KronoxFront.Components.Shared.UI
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<header>
	 <CascadingAuthenticationState>
	<NavMenu />
	</CascadingAuthenticationState>
</header>

<main class="flex-grow-1" role="main">
	@Body
</main>

<Footer />

<ScrollTopButton IsDarkMode="false" />